.btn-filter {
    width: 200px;
    margin: auto;
}

.list-container {
    display: flex;
    flex-direction: column;
    margin-top: 7vh;
    margin-left: 1vh;
    justify-content: center;
}
.lista-alumnos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    justify-content: center;
    background-color: rgb(192, 190, 190);
    width: 200px;
    height: fit-content;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}